{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codenest</title>
        <link rel="stylesheet" href="{% static 'global.css' %}">
        {% tailwind_css %}
    </head>
<body>
    <nav class="bg-[#030014] text-white text-xl absolute left-0 right-0">
        <ul class="flex flex-row justify-between items-center py-5 container-padding">
            <div class="flex">
                / academy
            </div>
            <div class="flex flex-row gap-3 justify-center">
                <li>
                    <a class="" href="/">Home</a>
                </li>
                <li>
                    <a class="" href="{% url 'webinars' %}">Webinars</a>
                </li>
                {% if user.is_authenticated %}
                    <p class="" href="#">{{ user.username }}</p>
                    <a class="" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <li>
                        <a class="" href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </nav>
    <div class="flex flex-col pt-20">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>