{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codenest</title>
        <link rel="stylesheet" href="{% static 'global.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% tailwind_css %}
    </head>
<body>
    <nav class="bg-[#030014] text-white text-xl absolute left-0 right-0">
        <ul class="flex flex-row justify-between items-center py-5 container-padding">
            <div class="flex">
                / academy
            </div>
            <div class="flex flex-row gap-3 justify-center items-center">
                <li>
                    <a class="" href="/">Home</a>
                </li>
                <li>
                    <a class="" href="{% url 'webinars' %}">Webinars</a>
                </li>
                {% if user.is_authenticated %}
                    <p class="" href="#">{{ user.username }}</p>
                    <a class="" href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'cart_summary' %}" class="border-white border-2 rounded-md text-[18px] px-1 hover:bg-white hover:text-black">
                        <i class="fas fa-shopping-cart fa-xs"></i>
                        Cart
                        <span id="cart_quantity">{{cart|length}}</span>
                    </a>
                {% else %}
                    <li>
                        <a class="" href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </nav>
    <div class="flex flex-col pt-20">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>