{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<section class="flex container-padding flex-col mt-10">
    <div class="flex flex-1 container-padding gap-[50px] justify-center ">

        <div class="flex flex-1 justify-center max-w-[450px] max-h-[400px] text-white text-[50px]">
            webinar_name
        </div>

    </div>

    <div class="flex mt-20 flex-1 items-center gap-[50px] justify-between flex-row">
        <div class="max-w-[600px] w-[600px]">

            <p class="text-white text-left">
                СМЕШНОЙ КОТ ---------------------------------------------------------------------> 
            </p>
        </div>
        <div class="max-w-[600px] w-[600px] text-white">
            <img src="https://img.freepik.com/free-photo/grey-cat-with-yellow-glasses-ai-generated-image_268835-6158.jpg?w=1380&t=st=1711921530~exp=1711922130~hmac=01062a0c80240d8e152cbb6681428d3edc4ac43cd6a5204dfedb5e8a4521a03f"/>
        </div>
    </div>
    
</section>
{% endblock content %}