{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <section class="mt-10">

        <div class="flex flex-1 container-padding gap-[50px] justify-center ">

            <div class="flex flex-1 justify-center  max-w-[450px] max-h-[400px] text-white text-[50px]">
                all webinars
            </div>

        </div>


        <div class="flex flex-1 container-padding gap-[50px] justify-center mt-20">
            <div class="grid grid-cols-4 gap-[50px] pb-[100px] max-w-[1200px]">
                {% for webinar in webinars %}
                <div class="flex flex-col flex-1 justify-center items-center  text-white border-[0.5px] max-w-[300px] rounded-lg">
                    <img src="/media/{{webinar.image}}" class="w-full rounded-t-lg h-[300px] object-cover"/>
                    <!-- <p class="flex mt-auto pb-[7px]">{{webinar.name}}</p> -->
                    <a class="flex flex-1 justify-center items-center pb-[6px] rounded-b-lg transition-colors duration-300 ease-in-out hover:bg-gray-700 border-[#a2a6c4]  max-h-[500px] w-full" target="_blank" href="{% url 'web_test_page' %}">
                        <button class="flex items-center text-[25px] mt-auto h-[80px]">{{webinar.name}}</button>
                    </a> 
                </div>
                {% endfor %}
            </div>
        </div>
        
    </section>
{% endblock content %}
