{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <section class="mt-10">

        <div class="flex flex-1 container-padding gap-[50px] justify-center ">

            <div class="flex flex-1 justify-center  max-w-[450px] max-h-[400px] text-white text-[50px]">
                all webinars
            </div>

        </div>

        <div class="flex flex-1 container-padding gap-[50px] justify-center mt-20">

            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">

                <p class="flex mt-auto pb-[10px]">webinar_name</p>

                <a class="flex flex-1 justify-center items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] " target="_blank" href="{% url 'web_test_page' %}">
                   
                    <button class="">
                        go
                    </button>
                </a>
            </div>

            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
        </div>

        <div class="flex flex-1 container-padding gap-[50px] mt-[50px] pb-[100px] justify-center ">
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
            <div class="flex flex-col flex-1 justify-center items-center border-[#a2a6c4]  text-white border-[1px] max-w-[250px] max-h-[400px] h-[350px] rounded-lg">
                test
                <button class="flex flex-1 justify-center mt-auto items-center pb-[6px] border-[#a2a6c4] border-t-[1px]  max-h-[50px] w-[250px] ">
                    go
                </button>
            </div>
        </div>
    </section>
{% endblock content %}
