{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <section class="mt-10">
        <div class="flex flex-1 container-padding gap-[50px] justify-start">
            <div class="header-text flex flex-1 justify-center text-5xl gap-2 bg-white text-white p-3 rounded-md max-w-[300px] max-h-[400px] text-[50px]">
                <span class="flex bg-black rounded-md  pt-[5px] text-white px-2 pb-[10px]">/</span>
                <p class="text-black">webinars</p> 
            </div>
        </div>
        
        <div class="container-padding">
            <div class="absolute justify-end max-w-[600px] ml-[600px] w-[600px]">
                {% if webinars %}
                    <p class="text-black additional-text"> 
                        <span class="text-[80px]"> {{ webinars.0.name }} </span> <br>
                        <span class="text-[15px]"> {{ webinars.0.description }} </span></p>
                {% endif %}
            </div>
            <div class="absolute gap-1 mt-[350px]"style="display: flex; flex-direction: column;">
                {% for webinar in webinars %}
                    <a href="{% url 'webinar_detail' webinar.slug %}" class=" text-black text-left text-[20px] max-w-[150px] transition-colors duration-600 ease-in-out hover:text-yellow-200 additional-text hover:cursor-pointer webinar-name relative" onmouseover="showMainText(this, `{{ webinar.name }}`, `{{ webinar.description }}`)">{{ webinar.name }}</a>
                {% endfor %}
            </div>
        </div>
        
        <script>
            window.onload = function() {
                var firstWebinarName = '{{ webinars.0.name }}';
                var additionalTextElement = document.querySelector('.container-padding .additional-text .header-text');
                additionalTextElement.textContent = firstWebinarName;
                setTimeout(function() {
                    additionalTextElement.classList.add('visible');
                }, 200); 
            }
            function showMainText(element, mainText1, mainText2) {
                var additionalTextElement = document.querySelector('.additional-text');
                // Объединяем два текста в одну строку
                var combinedText = '<span style="font-size: 80px;">' + mainText1 + '</span><br><span style="font-size: 15px;">' + mainText2 + '</span>';
                additionalTextElement.innerHTML = combinedText;
                additionalTextElement.classList.remove('visible'); // Сначала скрываем текст
                setTimeout(function() {
                    additionalTextElement.classList.add('visible'); // Затем плавно показываем новый текст
                }, 100); // Устанавливаем небольшую задержку перед показом нового текста
            }
        </script>
    </section>
{% endblock content %}


