.container-padding {
    max-width: 1200px;
    margin: 0 auto;
}

.content-container { 
    max-width: 1200px;
    margin: 0 auto;
}
.additional-text {
    opacity: 0; /* Начальное состояние: текст невидим */
    animation: fadeInOut 2s ease-in-out forwards; /* Добавляем CSS-анимацию для плавного появления и исчезновения */
    text-align: right;
}

.profile-border-active {
    border: solid #5b9cfe;
    border-width: 4px;
}

.button-clicked {
    pointer-events: none; /* Делает кнопку неактивной */
    background-color: white; /* Изменяет фоновый цвет на белый */
}

/* perfect parij */

.header-text { 
    opacity: 0; /* Начальное состояние: текст невидим */
    animation: fadeInOut 1s ease-in-out forwards; /* Добавляем CSS-анимацию для плавного появления и исчезновения */
} 

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.additional-text.visible {
    opacity: 1; /* когда добавляется класс .visible, текст становится видимым */
}

.header-text.visible {
    opacity: 1; /* Начальное состояние: текст невидим */
}

body {
    background-color: #030014;

    
}


::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #030014; 
}

::-webkit-scrollbar-thumb {
    background: #292735; /* Цвет ползунка */
    border-radius: 10px; /* Скругление углов ползунка */
}

/* Отображение полосы прокрутки только при наведении курсора */
::-webkit-scrollbar-thumb:hover {
    background: #3b384b; /* Цвет ползунка при наведении курсора */
}