{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <section class="on-top-course mt-20">
        <div class="flex flex-row justify-between content-container">
            <div class="flex flex-col text-white gap-10">
                <div class="flex flex-col gap-5 bg-white p-3 text-black rounded-md">
                    <h1 class="text-5xl">{{course.name}}</h1>
                    <p class="text-2xl">{{course.description}}</p>
                    <div class="flex flex-row gap-5">
                        <p>Created on {{course.created_at|date}}</p>
                        <p>Updated on {{course.updated_at|date}}</p> 
                    </div>
                </div>
                <div class="flex flex-col gap-2 mt-40 text-black">
                    <p class="text-3xl text-white">What i will learn?</p>
                    <p class="bg-white rounded-md p-5">{{course.advantages}}</p>
                </div>
                <div class="flex flex-col gap-3">
                    <p class="text-3xl">Lessons for this course</p>
                    <div class="bg-white p-3 text-black rounded-md">
                        <div class="flex justify-between">
                            <button onclick="toggleDropdown()" class="flex flex-row items-center"> Lessons
                            </button>
                            <div class="flex flex-row gap-2">
                                {% if course.lessons.all|length == 1 %}
                                    <p>{{course.lessons.all|length}} Lesson</p>
                                {% elif course.lessons.all|length > 1 %}
                                    <p>{{course.lessons.all|length}} Lessons</p>
                                {% endif %}
                                <p>{{total_duration|floatformat:0}} minute</p>
                            </div>
                        </div>
                        <div id="dropdown-menu" class="hidden">
                            {% for lesson in course.lessons.all %}
                                <a>{{lesson.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-3">
                    <p class="text-3xl">Description</p>
                    <p class="bg-white text-black p-3 rounded-md">{{course.description}}</p>
                </div>
                <div class="flex flex-col gap-3">
                    <p class="text-3xl">About the author</p>
                    <div class="flex flex-col gap-2 bg-white text-black rounded-md p-3">
                        <p>Name {{course.author.username}}</p>
                        <p>{{course_count}} Courses</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-row gap-10 justify-center items-start text-white">
                <div class="flex flex-col bg-white border-white border-2 w-[320px] max-h-[500px] overflow-hidden rounded-md mb-auto">
                    <img src="/media/{{course.image}}" class="w-full rounded-t-md h-[260px] object-cover"/>
                    <div class="text-black p-4">
                        <div class="flex justify-between pb-2">
                            <p class="text-xl font-bold">{{course.price}}$</p>
                            <button class="bg-black text-white p-1" type="button" 
                            id="add-cart" value="{{ course.slug }}">Add to card</button>
                        </div>
                        <p class="font-bold">Includes: </p>
                        <ul class="list-disc px-3.5">
                            {% for item in includes %}
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleDropdown() {
                var dropdownMenu = document.getElementById('dropdown-menu');
                if (dropdownMenu.classList.contains('hidden')) {
                    dropdownMenu.classList.remove('hidden');
                    dropdownMenu.classList.add('flex', 'flex-col');
                } else {
                    dropdownMenu.classList.add('hidden');
                    dropdownMenu.classList.remove('flex', 'flex-col');
                }
            }
        </script>
        <script>
            $(document).on('click', '#add-cart', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'cart_add' %}",
                    data: {
                        course_slug: $('#add-cart').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post',
                    },

                    success: function(json) {
                        document.getElementById('cart_quantity').textContent = json.cart_quantity
                    },

                    error: function(xhr, errmsg, err) {

                    }
                });
            });
        </script>
    </section>
{% endblock content %}