{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col items-center justify-center h-screen w-screen header-text text-black pb-[150px]">
        <form method="post" class="flex flex-col gap-5">
            {% csrf_token %}
            <div class="flex flex-col">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="flex flex-col">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <button type="submit" class="text-xl border-[#a2a6c4] border-[1px] py-[5px] rounded-md">Login</button>
        </form>
    </div>
{% endblock content %}